.container{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.titleMain{
    color: var(--COLOR2);
    font-size: 3.5rem;
}

.imagePlane{
    height: 45vh;
    margin-right: 5vw;
}

.titleBox{
    width: 40vw;
}

.fixedIT{
    background-color: var(--COLOR2);
    width: 20vw;
    height: 15vh;
}

.navLogin{
    position: fixed;
    top: 0;
    display: flex;
    text-align: right;
    width: 100vw;
}